@echo off
if [%1] EQU [] goto :build

echo Calling with %1

:build
call mvn package %1 && docker build -t [{appImageName}] . && docker-compose up -d [{dbName}] --wait && timeout 10 && docker-compose up -d [{appName}] --wait && timeout 20 && docker-compose up -d [{appName}] --wait && timeout 10 && docker-compose up -d [{appName}] --wait