package [{package}].models.[{entity}];

import lombok.AllArgsConstructor;
import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;
import lombok.experimental.SuperBuilder;

@Getter
@Setter
@NoArgsConstructor
@AllArgsConstructor
@SuperBuilder
public class Create[{entity}] {
	// TODO: [{entity}] DTO
	
	// Won't build without any attributes (constructor already existing)
	private String name;
}
